.trial_page {
  position: relative;
  height: 100vh;
  width: 100%;

  &::before {
    z-index: -1;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--main-bg-color);
    clip-path: polygon(64.5% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    &__logo {
      display: flex;
      align-items: center;
      gap: 20px;
      span {
        font-size: 50px;
        font-weight: 800;
        line-height: 40px;
        color: var(--main-blue-color);
      }
    }
  }
}
